<!DOCTYPE html>
<html lang="en">
    <head>
        <title>New Showroom</title>
    </head>
    <body>
    <h1>Create new Showroom</h1>
    <form action="/createShowroom" method="post" enctype="application/json">
        <label>Name </label>
        <input type="text" id="name" name="name">
        <br>
        <label>Description</label>
        <input type="text" id="description" name="description">
        <br>
        <input type="submit">
        <br>
    </form>
    </body>
</html>