<!--
<!DOCTYPE html>
<html>
<head>
    <script src="https://aframe.io/releases/1.3.0/aframe.min.js"></script>
    <style>
        div {
            padding: 20px;
            float: left;
        }
        label, input {
            margin: 5px;
        }
        .iframe {
            margin: 5px;
            width: 600px;
            height: 400px;
            float: right;
        }
    </style>
</head>
<body>
-->

<%- include('header'); -%>

    <div>
        <iframe id="iframe" class="iframe" src="http://localhost:8888/"></iframe>
    </div>
    <div>
        <h2>3D Model Upload</h2>
        <form action="/models" method="post" enctype="multipart/form-data">
            <label>File</label>
            <input type="file" id="gltffile" name="gltffile">
            <br>
            <label>Position X</label>
            <input type="number" id="positionx" name="positionx" step="any">
            <br>
            <label>Position Y</label>
            <input type="number" id="positiony" name="positiony" step="any">
            <br>
            <label>Position Z</label>
            <input type="number" id="positionz" name="positionz" step="any">
            <br>
            <label>Rotation X</label>
            <input type="number" id="rotationx" name="rotationx" step="any">
            <br>
            <label>Rotation Y</label>
            <input type="number" id="rotationy" name="rotationy" step="any">
            <br>
            <label>Rotation Z</label>
            <input type="number" id="rotationz" name="rotationz" step="any">
            <br>
            <label>Scale</label>
            <input type="number" id="scale" name="scale" step="any">
            <br>
            <input type="submit">
            <br>
        </form>
    </div>
    <div>
        <a href="/">Back to Scene</a>
    </div>

<%- include('footer'); -%>
<!--
</body>
</html>
-->