<%- include('header'); -%>

<div class="showrooms">
    <ol>
        <li>
            <ul class="header">
                <li style="width: 200px">
                    <h3>fname</h3>
                </li>
                <li>PosX</li>
                <li>PosY</li>
                <li>PosZ</li>
                <li>RotX</li>
                <li>RotY</li>
                <li>RotZ</li>
                <li>Scale</li>

            </ul>
        </li>
        <%- models %>
    </ol>
</div>
<div>
    <a href="/createmodel">Upload 3D Model</a>
    <br>
    <a href="/">Back to Scene</a>
</div>

<%- include('footer'); -%>