<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Not Found</title>
    </head>
    <body>
    <div    style="
            display: table;
            position: absolute;
            height: 100%;
            width: 100%;">
        <div style="
            display: table-cell;
            vertical-align: middle;
            text-align: center;">
            <h1>404</h1>
            <h2>Page not Found</h2>
        </div>
    </div>
    </body>
</html>