<%- include('header'); -%>

<div class="login">
    <h1>Register</h1>
    <form action="/register" method="post" enctype="application/json">
        <label for="email">
        </label>
        <input type="email" name="email" placeholder="email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
        <label for="password">
        </label>
        <input type="password" name="password" placeholder="Password" id="password" required>
        <input type="submit" value="Register">
    </form>

    <%- alerts %>

    <a href="/login"> Login </a>
</div>

<%- include('footer'); -%>