<%- include('header'); -%>

<div class="showrooms">
    <ol>
        <li>
            <ul class="header">
                <li style="width: 200px">
                    <h3>Name</h3>
                </li>
            </ul>
        </li>
        <%- showrooms %>
    </ol>
</div>
<button class="open-button" onclick="function toggleUpdateForm() {
        if(document.getElementById('inventory').style.display === 'block') {
            document.getElementById('inventory').style.display = 'none';
        } else {
            document.getElementById('inventory').style.display = 'block';
        }
    }
    toggleUpdateForm()">Open Inventory</button>
<div class="form-popup" id="inventory">
    <h1>Inventory</h1>
    <%- inventory %>
    <form action="/upload" class="form-container" method="post" enctype="multipart/form-data">
        <h3>Upload new 3D Model</h3>
        <label>File</label>
        <input type="file" id="gltffile" name="gltffile" required>
        <br>
        <button type="submit" class="btn">Upload</button>
        <button type="button" class="btn cancel" onclick="function closeUpdateForm() {
                document.getElementById('inventory').style.display = 'none';
            }
            closeUpdateForm()">Cancel</button>
    </form>
</div>

<%- include('footer'); -%>