<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Your Showrooms</title>
    </head>
    <body>
    <h1>Your Showrooms</h1>
        <table>
            <%- showrooms %>
        </table>

    <%- createShowroomRoute %>
    </body>
</html>