body {
    margin: 0 0 8px 0;
}

.nav-logo {
    height: 40px;
    width: auto;
}

.nav-bar {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
}

.nav-bar p {
    margin: 0;
}

.login {
    margin-top: 10px;
}

.alert {
    background-color: lightgoldenrodyellow;
}

.clickable {
    cursor: pointer;
}

.btn-accept {
    border-width: 0;
    background-color: #04AA6D;
}
.btn-cancel {
    border-width: 0 !important;
    background-color: #ff7777 !important;
}

.top-bar {
    width: 100%;
    min-height: 35px;
    height: auto;
    border-bottom: #606c76 solid 1px;
    padding: 5px 0;
    background-color: #F2F3F4;
    position: relative;
    margin-bottom: 25px;
}

.showrooms {
    background-color: #f9f9f9;
    margin-right: 25px;
    padding: 15px !important;
}

.inventory {
    background-color: #f9f9f9;
    padding: 15px !important;
}

.grid-container-sr {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 10px;
}

.grid-container-sr form, .grid-container-sr button, .grid-container-sr a {
    margin: 0 ;
}

.grid-item-sr {
    padding: 10px 0;
    text-align: center;
    border-bottom: 2px solid rgba(175, 175, 175, 0.8);
}

.grid-text-sr, .grid-item-i {
    text-align: left;
}

.grid-text-sr p, .grid-item-i p {
    margin: 0;
}

.grid-container-i {
    display: grid;
    grid-template-columns: auto auto;
    margin: 10px;
}

.grid-item-i {
    padding: 10px 2px;
    text-align: center;
    align-items: center;
    display: grid;
}

.grid-container-i form, .grid-container-i button, .grid-container-i a {
    margin: 0 ;
}

.sname {
    min-width: 200px;
    display: grid;
    align-items: center;
}

#upload-model, #new-showroom {
    display: none;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    padding: 0 -25px 0 -25px;
}
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.navbar a.active {
    background-color: #04AA6D;
    color: white;
}

#sceneView {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 75%;
}

#sceneView.wide {
    width: 100%;
}

#rightPanel {
    visibility: visible;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 25%;
    box-sizing: border-box;
    background-color: #EEEEEE;
}

#rightPanel.disabled {
    visibility: hidden;
}

#modelView, #models, #inventory {
    padding: 0 25px;
}

.model-selection:hover {
    cursor: pointer;
}

/* Right panel, modelView attributes and inputs */
.objectAttributeContainer {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 10px;
    margin: 15px 0px;
    padding: 0px;
    align-items: center;
}

.objectAttributeContainer label {
    margin: 0px;
    vertical-align: center;
    height: max-content;
    text-align: left;
}

.objectAttributeContainer input {
    margin: 0px;
}

#addElementButton{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 80px;
    height: 80px;
    background-color: #04AA6D;
    font-size: 40px;
    font-weight: lighter;
    color: white;
    text-align: center;
    border-radius: 40px;
    border: 0 solid black;
}

/* Buttons for gizmo mode change*/
.gizmo-mode {
    position: fixed;
    float: left;
    bottom: 15px;
    width: 75%;
    text-align: center;
    cursor: pointer;
}

.gizmo-mode .button {
    width: 60px;
    height: 60px;
    padding: 5px;
    margin: 0 5px;
    background-color: #cccccc;
    border-color: #cccccc;
}

.gizmo-mode .enabled {
    background-color: #fafafa;
    border-color: #9b4dca;
}

.gizmo-mode img {
    width: 50px;
    height: auto;
}
.attributeTitle {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0px 5px 0px;
    display: grid;
    align-items: center;
    grid-template-columns: auto 40px;
}

.attributeTitle .button {
    width: 34px;
    height: 34px;
    padding: 2px;
    margin: 0;
    background-color: #cccccc;
    float: left;
}

.attributeTitle img {
    width: 30px;
    height: auto;
}

.attributeTitle .enabled {
    background-color: #fafafa;
    border: 1px solid #9b4dca;
}

#popup {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.6);
    visibility: hidden;
    z-index: 2
}

.popup-content {
    position: absolute;
    width: 500px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    border: #606c76 1px solid;
    border-radius: 20px;
    padding: 15px;
}

.enter-vr-button {
    background-size: 90% 90%;
    border: 0;
    bottom: 0;
    cursor: pointer;
    min-width: 58px;
    min-height: 34px;
    position: absolute;
    right: 0;
    transition: background-color .05s ease;
    -webkit-transition: background-color .05s ease;
    z-index: 9999;
    border-radius: 8px;
    touch-action: manipulation;
    margin: 0;
    padding: 0;
}

.rename-form {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.6);
}

.rename-content {
    position: absolute;
    width: 500px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    border: #606c76 1px solid;
    border-radius: 20px;
    padding: 15px;
}

.bottom-menu {
    text-align: center;
}