body {
    margin: 0 0 8px 0;
}

.login {

}

.alert {
    background-color: lightgoldenrodyellow;
}

.btn-accept {
    border-width: 0;
    background-color: #04AA6D;
}
.btn-cancel {
    border-width: 0;
    background-color: #ff7777;
}

.top-bar {
    width: 100%;
    min-height: 35px;
    height: auto;
    border-bottom: #606c76 solid 1px;
    margin: 0 0 5px 0;
    background-color: #F2F3F4;
    padding: 0 2rem;
    position: relative;
}

.showrooms ul {
    display: inline-block;
    list-style-type: none;
    height: auto;
}

.showrooms li {
    height: 40px;
}

.rooms-ul {
    margin-bottom: 0;
}

.room {
    max-height: 40px;
    height: auto;
    margin: 0 0 .5rem 0;
}

.room form {
    margin: 0;
}

.showrooms .room li {
    display: inline;
    float: left;
    min-width: 100px;
    width: auto;
    vertical-align: center;
}

#upload-model {
    display: none;
}

#new-showroom {
    display: none;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    padding: 0 -25px 0 -25px;
}
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.navbar a.active {
    background-color: #04AA6D;
    color: white;
}

#sceneView {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 75%;
}

#sceneView.wide {
    width: 100%;
}

#rightPanel {
    visibility: visible;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 25%;
    padding: 0px 25px 0px 25px;
    box-sizing: border-box;
    background-color: #EEEEEE;
}

#rightPanel.disabled {
    visibility: hidden;
}

.attributeTitle {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0px 5px 0px;
}

.inputNumber {
    width: 64px;
}

#addModel{
    position: absolute;
    width: 500px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
}

#addElementButton{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 80px;
    height: 80px;
    background-color: #04AA6D;
    font-size: 50px;
    font-weight: lighter;
    color: white;
    text-align: center;
    border-radius: 40px;
    border: 0 solid black;
}

#removeObjectButton{
    margin: 10px 0px;
    background-color: #ff7777;
    color: white;
    border-radius: 5px;
    width: -webkit-fill-available;
    height: 30px;
    border: 0 solid black;
}

.gizmo-mode {
    float: left;
    top: 5px;
    position: relative;
    width: 75%;
    text-align: center;
    cursor: pointer;
}