#sceneView {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 75%;
}

#rightPanel {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 25%;
    padding: 0px 25px 0px 25px;
    box-sizing: border-box;
    background-color: #EEEEEE;
}

.attributeTitle {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0px 5px 0px;
}

.inputNumber {
    width: 64px;
}